body {
    background-color: #8AAAE5;
}

.clearFix {
    margin: 0;
    padding: 0;
}

#ui-body {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #7799d7;
}

#searchBox {
    width: 100%;
    height: 25px;
    margin-top: 20px;
}

#tableBody {
    width: 100%;
    margin-top: 15px;
    background-color: white;
}

.tableHeaderRow {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    background-color: #7799d7;
    font-weight: bolder;
}

#tableHeaderCells {
    width: 20%;
}

#selectAllTableRows {
    margin-left: 10px;
}

.tableRows {
    display: flex;
    align-items: center;
    height: 35px;
    border-bottom: 1px solid black;
}

.tableRowCells {
    width: 20%;
}

.deleteButtons {
    /* background-color: blue; */
}

.buttonPadding {
    padding: 5px 8px 5px 8px;
}

.marginRightLeft {
    margin-right: 5px;
    margin-left: 5px;
}