body {
    background-color: rgb(14, 44, 64);
}

.clearFix {
    margin: 0;
    padding: 0;
}

#ui-body {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(60, 102, 130);
}

#searchBox {
    width: 100%;
    height: 25px;
    margin-top: 20px;
}

#tableBody {
    width: 100%;
    margin-top: 15px;
}

.tableRows {
    display: flex;
    align-items: center;
    height: 35px;
    border-bottom: 1px solid black;
}

.tableHeaderCell {
    font-weight: bolder;
    width: 20%;
}

.tableRowCells {
    width: 20%;
}

.buttonPadding {
    padding: 5px 8px 5px 8px;
}

.marginRightLeft {
    margin-right: 5px;
    margin-left: 5px;
}